/build-aux/
.deps/
.libs/
core
core.*
*.core
*.dmp
*.o
*.lo
*.la
*.cache
*.log
*~
stamp-*
/segfault
/mkminidump
Makefile.in
Makefile
/aclocal.m4
/config.h
/config.h.in
/config.status
/configure
/libtool
/libminidump-*.tar.xz
/libminidump.pc
